@page "/auth/forgot"
@layout ForgotLauout
@using iRefer.Shared.Models

@inject AuthenticationService  authService
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-12">
        <h2>To ensure the security of your account, an email would be sent to the email address provided in here. Please click on the link in the recevied email to reset your account</h2>
        <EditForm Model="model" OnValidSubmit="Forgot">
            <RadzenCard>
                <AlertMessage Message="@message" MessageType="@messageType" />
                <DataAnnotationsValidator />
                <ValidationSummary />

          

                <label>Email</label>
                <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>

               
                
                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Send me a validation email"
                              ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"
                              Disabled="isBusy"/>
                
            </RadzenCard>
        </EditForm>
    </div>
</div>


@code {
    ForogtPasswordRequest model=new ForogtPasswordRequest();

    bool isBusy = false;
    string message = string.Empty;
    Models.AlertMessageType messageType = Models.AlertMessageType.Success;

    public async Task Forgot()
    {
        isBusy = true;
        var result = await authService.ForgotPasswordAsync(model.Email);
        if(result.IsSuccess)
        {
            message = result.Message;
            messageType = Models.AlertMessageType.Success;
        }
        else
        {
            message = result.Errors.FirstOrDefault() ?? result.Message;
            messageType = Models.AlertMessageType.Error;
        }
        isBusy = false;
    }

    void GoToLogin()
    {
        navigationManager.NavigateTo("/auth/login");
    }
}
